server:
  port: 5090
      
spring:
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost/usercrud
    username: root
    password: root
  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    show-sql: true
    properties:
      hibernate:
        generate_statistics: true
        format_sql: true
    hibernate:
      ddl-auto: update 
logging:
  level:
    org.springframework.web: DEBUG
    guru.springframework.security: DEBUG
    org.hibernate: DEBUG
  jpa:
    generate-ddl: true
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto : update
  http:
    multipart:
      max-file-size: 1000MB
      max-request-size: 1000MB
    encoding:
      charset: UTF-8
      enabled: true
      force: true

  resources:
    static-locations: classpath:/META-INF/resources/,classpath:/resources/,classpath:/static/
  jackson:
    default-property-inclusion: NON_NULL
  mvc:
    contentnegotiation:  #boot2
      favor-path-extension: false
  
security:
 oauth2:
    sso:
      loginPath: /auth/login
    client:
      client-id: D3nLYOh_EyAp5KY2JHwja3ISzTYa
      client-secret: 0XL5PKZPR42enw8Fu6HVC9cah4Ma
      access-token-uri: https://ec2-34-220-78-195.us-west-2.compute.amazonaws.com:9443/oauth2endpoint/token
      user-authorization-uri: https://ec2-34-220-78-195.us-west-2.compute.amazonaws.com:9443/oauth2/authorize
      pre-established-redirect-uri: http://localhost:5090/usercrud/all
      useCurrentUri: false
    resource:
      user-info-uri:  http://www.dev-services.agilestructure.in/api/v1/sessions/current
      token-info-uri:  https://ec2-34-220-78-195.us-west-2.compute.amazonaws.com:9443/oauth2/introspect
      prefer-token-info: false
